
<div class= "row" class="shadow-lg" style="margin: 1%;">
  <div class="col-sm-12">
    <app-cryptocoins-card></app-cryptocoins-card>
  </div>
</div>
<div class= "row" class="shadow-lg" style="margin: 1%;">
  <div class="col-sm-12">
    <app-metals-card></app-metals-card>
  </div>
</div>
<div class= "row" class="shadow-lg" style="margin: 1%;">
  <div class="col-sm-12">
    <app-indexes-card></app-indexes-card>
  </div>
</div>
<div class= "row" class="shadow-lg" style="margin: 1%;">
  <div class="col-sm-12">
    <app-fiats-card></app-fiats-card>
  </div>
</div>
