<div class="card">
  <div class="card-body" p-2>
    <div class="table-responsive">
      <h4>Indexes</h4>
      <table class="table">

      <thead>
        <tr>
          <th scope="col">Logo</th>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
        </tr>
      </thead>

      <tr *ngFor= "let ind of attributesOfIndexes" >
        <td><img src={{ind.logo}} width="60" height="60" class="d-inline-block align-middle" alt="bitpanda" loading="lazy"></td>
        <td>{{ind.symbol}}</td>
        <td>{{ind.name}}</td>
        <td>€{{ind.avg_price}}</td>
        <td>{{ind.buy_active}}</td>
        <td>€{{ind.min_buy_eur}}</td>
        <td>{{ind.sell_active}}</td>
        <td>€{{ind.min_sell_eur}}</td>
        <td>{{ind.available}}</td>
        <td>€{{ind.default_sell_amount}}</td>
      </tr>
    </table>
  </div>
  </div> <!--class card-body-->
</div> <!--class card-->
