<div class="card">
  <div class="card-body" p-2>
    <div class="table-responsive">
      <h4>Fiats</h4>
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Logo</th>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
        </tr>
      </thead>

      <tr *ngFor= "let fiat of attributesOfFiats" >
        <td><img src={{fiat.logo}} width="60" height="60" class="d-inline-block align-middle" alt="BitPanda Fiat" loading="lazy"></td>
        <td>{{fiat.symbol}}</td>
        <td>{{fiat.name}}</td>
        <td>€{{fiat.avg_price}}</td>
        <td>{{fiat.buy_active}}</td>
        <td>€{{fiat.min_buy_eur}}</td>
        <td>{{fiat.sell_active}}</td>
        <td>€{{fiat.min_sell_eur}}</td>
        <td>{{fiat.available}}</td>
        <td>€{{fiat.default_sell_amount}}</td>
      </tr>
    </table>
  </div>
  </div> <!--class card-body-->
</div> <!--class card-->
<!--{{localfiat | json}}-->
<!-- <tr *ngFor= "let fiat of attributesOfFiats|sort:['name', 'desc']" >-->
